<!DOCTYPE html>
<html>
<body>

<h1>Registration form:</h1>
<form action="/register" method="POST">
  <label for="fname">First name: </label>
  <input type="text" id="fname" name="fname" required="true"> <br><br>
  <label for="lname">Last name: </label>
  <input type="text" id="lname" name="lname"><br><br>
  <p>Sex:</p>
  <input type="radio" name="gender" value="male" required="true">
  <label for="gender1">Male</label><br>
  <input type="radio" name="gender" value="female" required="true">
  <label for="gender2">Female</label><br>
  <input type="radio" name="gender" value="others" required="true">
  <label for="gender3">Others</label><br><br>
  <label for="address">Address:</label><br>
  <textarea id="address" name="address" rows="4" cols="50"> </textarea>
  <br><br>
  <label for="countries">Choose a country:</label>
  <select name="countries" id="countries">
    <option value="india">India</option>
    <option value="usa">USA</option>
    <option value="uae">UAE</option>
    <option value="germany">Germany</option>
  </select>
  <br><br>
  <p>Choose the subsricptions you have:</p>


  <input type="checkbox"  name="sub[]" value="youtube premium">
  <label for="sub1"> Youtube Premium</label><br>
  <input type="checkbox" name="sub[]" value="disney hotstar">
  <label for="sub2"> Disney Hotstar</label><br>
  <input type="checkbox" name="sub[]" value="netflix">
  <label for="sub3"> Netflix</label><br>
  <input type="checkbox" name="sub[]" value="prime video">
  <label for="sub4"> Prime Video</label><br>
  <label for="pwd">Password:</label>
  <input type="password" id="pwd" name="pwd" minlength="1"><br><br>
  <input type="submit" value="Register">


</form>
</body>
</html>